html {
  scroll-behavior: smooth;
  overflow-y : scroll;
}

body {
  background-color: black;
  color: white;
  font-family: sans-serif;
}
#logo {
  width: 20%;
}


.header {
  overflow: hidden;
  padding: 20px 10px;
}

.header-right {
  float: right;
  margin-top: 20px;
}

@media screen and (max-width: 500px) {
  .header-right {
    float: none;
  }
}




#container {
  font: 500;
  width: 100%;
  margin: 0 auto;
  padding: 50px 0 150px 0;
  display: contents;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.button {
  display: inline-flex;
  height: 40px;
  width: 150px;
  background-color: rgb(218, 56, 35);
  border: 2px solid white;
  margin: 20px 10px 20px 0px;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-size: .8em;
  letter-spacing: 1.5px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
#button_responsive {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
#button_responsive a {
  font: caption;
  font-family: sans-serif;
  position: relative;
  transition: all .45s ease-Out;
  text-decoration: none;
  color: black;
}
#translate {
  transform: rotate(50deg);
  width: 100%;
  height: 250%;
  left: 0px;
  top: -30px;
  background: white;
  position: absolute;
  transition: all .3s ease-Out;
}
#button_responsive:hover #translate {
  left: -300px;
}
#button_responsive:hover a {
  color: white;
}

#page1 {
  color: black;
  height:fit-content;
  margin: auto;
  text-align: center;
  background-color:white;
  font-size:36px
}

.parallax0 {
  background-image: url("../images/2.jpg");
  height: 450px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallax1 {
  background-image: url("../images/1.jpg");
  height: 450px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallax2 {
  background-image: url("../images/0.jpg");
  height: 450px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallax3 {
  background-image: url("../images/3.jpg");
  height: 450px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#footer {
  height: fit-content;
  text-align: center;
  border-style: solid;
  margin: 15px;
  border-color: rgb(218, 56, 35);
}

#pg1_header {
  background-color: black;
  color: white;
  font-size:large;
  height: 405px;
  text-align: left;
  padding: 10px;
}

p {
  margin-bottom: 0;
  font-family: sans-serif;
}

#full_logo {
  float: right;
  width: 30%;
}

#trend{
  align-content: center;
}

table {
  width: 100%;
  border-collapse: collapse;
}
table th {
  border-style: solid;
  border-color: white;
  border-right: 0;
  border-left: 0;
  height: 75px;
  font-size: x-large;
  font-weight: bolder;
  font-style: italic;
  color: rgb(218, 56, 35);
  background-color: white;
}

table td {
  text-align: center;
  border-style: solid;
  border-color: white;
  border-top: 0;
  border-right: 0;
  border-left: 0;
}

th.table_rank {
  width: 10%;
}
th.table_name {
  width: 20%;
}
th.table_sym {
  width: 20%;
}
th.table_pric, th.table_cap{
  width: 15%;
}
th.table_option {
  width: 20%;
}

#loader {
    display: none;
    align-content:flex-end;
}
#clock-loader {
  --clock-color: white;
  --clock-width: 4rem;
  --clock-radius: calc(var(--clock-width) / 2);
  --clock-minute-length: calc(var(--clock-width) * 0.4);
  --clock-hour-length: calc(var(--clock-width) * 0.2);
  --clock-thickness: 0.2rem;

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--clock-width);
  height: var(--clock-width);
  border: 3px solid var(--clock-color);
  border-radius: 50%;
}
#clock-loader::before, #clock-loader::after {
  position: absolute;
  content: "";
  top: calc(var(--clock-radius) * 0.25);
  width: var(--clock-thickness);
  background: var(--clock-color);
  border-radius: 10px;
  transform-origin: center calc(100% - calc(var(--clock-thickness) / 2));
  animation: spin infinite linear;
}

#clock-loader::before {
  height: var(--clock-minute-length);
  animation-duration: 2s;
}

#clock-loader::after {
  top: calc(var(--clock-radius) * 0.25 + var(--clock-hour-length));
  height: var(--clock-hour-length);
  animation-duration: 15s;
}

@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}


.grid-container {
  display: grid;
  grid-template-columns: 93% auto;
  padding: 10px;
}