html {
  scroll-behavior: smooth;
  overflow-y : scroll;
}

body {
  background-color: black;
  color: white;
  font-family: Helvetica, sans-serif;
}
#logo {
  width: 20%;
}


.header {
  overflow: hidden;
}

.header-right {
  float: right;
  margin-top: 20px;
}

@media screen and (max-width: 500px) {
  .header-right {
    float: none;
  }
}




#container {
  font: 500;
  width: 100%;
  margin: 0 auto;
  padding: 50px 0 150px 0;
  display: contents;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.button {
  display: inline-flex;
  height: 40px;
  width: 150px;
  background-color: rgb(218, 56, 35);
  border: 2px solid white;
  margin: 20px 10px 20px 0px;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-size: .8em;
  letter-spacing: 1.5px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
#button_responsive {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
#button_responsive a {
  font: caption;
  position: relative;
  transition: all .45s ease-Out;
  text-decoration: none;
  color: black;
}
#translate {
  transform: rotate(50deg);
  width: 100%;
  height: 250%;
  left: 0px;
  top: -30px;
  background: white;
  position: absolute;
  transition: all .3s ease-Out;
}
#button_responsive:hover #translate {
  left: -300px;
}
#button_responsive:hover a {
  color: white;
}

#page1 {
  color: white;
  height:fit-content;
  margin: auto;
  text-align: center;
  background-color:black;
  font-size:36px;
  top: 0;
}

.parallax0 {
  background-image: url("../images/2.jpg");
  height: 450px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallax1 {
  background-image: url("../images/1.jpg");
  height: 450px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallax2 {
  background-image: url("../images/0.jpg");
  height: 450px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallax3 {
  background-image: url("../images/3.jpg");
  height: 450px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#footer {
  height: fit-content;
  text-align: center;
  border-style: solid;
  margin: 15px;
  border-color: rgb(218, 56, 35);
}

#footer .grid-container {
  display: grid;
  grid-template-columns: 336px 200px 400px auto;
  padding: 10px;
}

#my_img{
  width: 250px;
  border-radius: 100%;
  border: white solid;
}

#pg1_header {
  background-color: black;
  color: white;
  font-size:large;
  height: 405px;
  text-align: left;
  padding: 10px;
}

p {
  margin-bottom: 0;
}

#full_logo {
  float: right;
  width: 30%;
}

#trend{
  align-content: center;
}

table {
  width: 100%;
  border-collapse: collapse;
}
table th {
  border-style: solid;
  border-color: white;
  border-right: 0;
  border-left: 0;
  height: 75px;
  font-size: x-large;
  font-weight: bolder;
  font-style: italic;
  color: rgb(218, 56, 35);
  background-color: white;
}

table td {
  text-align: center;
  border-style: solid;
  border-color: white;
  border-top: 0;
  border-right: 0;
  border-left: 0;
}

th.table_rank {
  width: 10%;
}
th.table_name {
  width: 20%;
}
th.table_sym {
  width: 20%;
}
th.table_pric, th.table_cap{
  width: 15%;
}
th.table_option {
  width: 20%;
}

#loader {
    display: none;
    align-content:flex-end;
}
#clock-loader {
  --clock-color: white;
  --clock-width: 4rem;
  --clock-radius: calc(var(--clock-width) / 2);
  --clock-minute-length: calc(var(--clock-width) * 0.4);
  --clock-hour-length: calc(var(--clock-width) * 0.2);
  --clock-thickness: 0.2rem;

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--clock-width);
  height: var(--clock-width);
  border: 3px solid var(--clock-color);
  border-radius: 50%;
}
#clock-loader::before, #clock-loader::after {
  position: absolute;
  content: "";
  top: calc(var(--clock-radius) * 0.25);
  width: var(--clock-thickness);
  background: rgb(218, 56, 35);
  border-radius: 10px;
  transform-origin: center calc(100% - calc(var(--clock-thickness) / 2));
  animation: spin infinite linear;
}

#clock-loader::before {
  height: var(--clock-minute-length);
  animation-duration: 2s;
}

#clock-loader::after {
  top: calc(var(--clock-radius) * 0.25 + var(--clock-hour-length));
  height: var(--clock-hour-length);
  animation-duration: 15s;
}

@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}


.grid-container {
  display: grid;
  grid-template-columns: 93% auto;
  padding: 10px;
}

.page_header {
  margin-left: 1%; 
  display: flex;
  font-style: italic;
}



#popup {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 70px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}
#content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

.animate_forward {
  animation: animatetop 0.8s;
}
.animate_reverse {
  animation: animaterevtop 0.8s;
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}
@keyframes animaterevtop {
  from {top:0; opacity:1}
  to {top:-300px; opacity:0}
}
#close {
  color: white;
  float: right;
  font-size: 28px;
  padding-top: 20px;
  font-weight: bold;
}
#close:hover,
#close:focus {
  text-decoration: none;
  font-size: 38px;
  padding-top: 15px;
  cursor: pointer;
}

#popup_header {
  border-style: double;
  border-color: white;
  border-width: 10px;
  padding: 2px 16px;
  background-color: rgb(218, 56, 35);
  color: white;
}
#popup_body {
  padding: 20px;
  background-color: white;
}
#popup_foot {
  border-style: double;
  border-color: white;
  border-width: 10px;
  background-color: rgb(218, 56, 35);
  color: white;
  height: 75px;
}

#ppp {
  text-align: center;
  text-decoration: none;
  font-style: italic;
  top: 50%;
  position: relative;
  font-weight: bolder;
  font-size: larger;
}

#extra_content {
  text-align: center;
  margin: 40px;
  font-size: xx-large;
  font-style: italic;
  font-weight: bolder;
}

#popup_table {
  padding: 20px;
  border-color: white;
  border-style: solid;
  border-radius: 20px;
  color: black;
  background-color: white;
}

#popup_table td {
  text-align: left;
}

input {
  text-align: center;
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  outline: none;
}

input[type=submit] {
  width: 10%;
  background-color: rgb(218, 56, 35);
  color: white;
  padding: 14px 20px;
  margin: 10px 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:disabled {
  background-color: rgb(219, 106, 91);
}

input[type=submit]:enabled:hover {
  background-color: white;
  color: black;
}

form{
  text-align: center;
}

#calculate_result {
  text-align: center;
}

#conversion {
  margin-top: 50px;
}

.sticky {
  position: fixed;
  bottom: 30px;
  left: 30px;
}

.sticky button {
  display: none;
  z-index: 2;
  font-size: larger;
  border: 2px;
  border-style: solid;
  border-color: white;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  color: white;
  background-color: rgb(218, 56, 35);
}
.sticky button:hover {
  cursor: pointer;
  border-color: rgb(218, 56, 35);
  border-radius: 100%;
  color: black;
  background-color: white
}

.dodo {
  display: grid;
  grid-template-areas:
    'l ru ru ru'
    'l rd rd rd';
  grid-gap: 10px;
  padding: 10px;
}

.odod {
  display: grid;
  grid-template-areas:
    'ru ru ru l'
    'rd rd rd l';
  grid-gap: 10px;
  padding: 10px;
}

.item1 { grid-area: l; }
.item2 { 
  grid-area: ru; 
  font-size: large;
}
.item3 { grid-area: rd; }

.dodo h1, .odod h1 {
  background-image: linear-gradient(to left, rgb(252, 23, 23), rgb(218, 56, 35), white);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-style: italic;
}