{% load static %}
<!DOCTYPE html>
<html lang="eng">
    <head>
        <title>MarKVity</title>
        <script src="{% static 'crypto_api/js/script.js' %}"></script>
        <link rel="stylesheet" href="{% static 'crypto_api/style/style.css' %}">
    </head>
    <body>
        <div class="header" id="top">
            <img src="/static/crypto_api/images/Markvityy.png" id="logo" title="MarKVity">
            <div class="header-right">
                <div id="container">
                    <div class="button" id="button_responsive">
                      <div id="translate"></div>
                      <a href="{% url 'index' %}">Home</a>
                    </div>
                    <div class="button" id="button_responsive">
                        <div id="translate"></div>
                        <a id="go_to_trending_page">Trending</a>
                    </div>
                    <div class="button" id="button_responsive">
                        <div id="translate"></div>
                        <a id="go_to_search_page">Search</a>
                    </div>
                    <div class="button" id="button_responsive">
                        <div id="translate"></div>
                        <a id="go_to_all_page">All Crypto</a>
                    </div>
                    <div class="button" id="button_responsive">
                        <div id="translate"></div>
                        <a id="go_to_calculate_page">Calculate</a>
                    </div>
                    <div class="button" id="button_responsive">
                        <div id="translate"></div>
                        <a id="go_to_home_page" href="#footer">About</a>
                    </div>
                </div>
            </div>
            <hr>
        </div>
        <div id="page1" class="main_class">
            <div id="pg1_header">
                <p><img src="/static/crypto_api/images/Markvity.png" title="MarKVity" id="full_logo">
                    <strong style="color: red;">Q. What is cryptocurrency?</strong>
                    <p>A. Cryptocurrency is a form of payment that can be exchanged online for goods and services. Many companies have issued their own currencies, often called tokens, and these can be traded specifically for the good or service that the company provides. Think of them as you would arcade tokens or casino chips.</p>
                    <br><strong style="color: red;">Q. Why are cryptocurrencies so popular?</strong>
                    <p>
                        <ul>
                            <li>Cryptocurrency removes central banks from managing the money supply, since over time these banks tend to reduce the value of money via inflation</li>
                            <li>The technology behind cryptocurrencies, the blockchain, is a decentralized processing and recording system and can be more secure than traditional payment systems</li>
                        </ul>
                    </p>
                    <strong style="color: red;">Q. How MarKVitY helps you??</strong>
                    <p>A. <strong>MarKVitY</strong> helps you to keep track of crypto market. This site keeps up to date as the market changes constantly. Even our currency converter system relies on up to date currency rates.</p>
                </p>
            </div>
            <div class="parallax0"></div>
            <div>
                <h1>Portion 1</h1>
                <div id="container">
                    <div class="button" id="button_responsive" style="width: 250px;">
                      <div id="translate"></div>
                      <a id="go_to_trending_page">See What's Trending</a>
                    </div>
                </div>
            </div>
            <div class="parallax1"></div>
            <div>
                <h1>Portion 2</h1>
                <div id="container">
                    <div class="button" id="button_responsive" style="width: 240px;">
                      <div id="translate"></div>
                      <a id="go_to_search_page">Search Your Crypto</a>
                    </div>
                </div>    
            </div>
            <div class="parallax2"></div>
            <div>
                <h1>Portion 3</h1>
                <div id="container">
                    <div class="button" id="button_responsive" style="width: 240px;">
                      <div id="translate"></div>
                      <a id="go_to_all_page">List All Crypto</a>
                    </div>
                </div>    
            </div>
            <div class="parallax3"></div>
            <div>
                <h1>Portion 4</h1>
                <div id="container">
                    <div class="button" id="button_responsive" style="width: 240px;">
                      <div id="translate"></div>
                      <a id="go_to_calculate_page">Calculate Your Crypto Value</a>
                    </div>
                </div>    
            </div>
        </div>

        <div id="page2" class="main_class">
            <div id="trend" class="main_class">
                <div class="grid-container">
                    <div class="grid-item">
                        <h1 class="page_header"><i>Now Trending Crypto . . . .</i></h1>
                    </div>
                    <div class="grid-item">
                        <div id="loader" class="loader">
                            <div id="clock-loader"></div>
                        </div>
                    </div>
                </div>
                <hr>
                <table id = "trending_table">
                    <thead>
                        <tr>
                            <th class="table_rank">Rank</th>
                            <th class="table_name">Name</th>
                            <th class="table_sym">Symbol</th>
                            <th class="table_pric">Price</th>
                            <th class="table_cap">Market Cap</th>
                            <th class="table_option">Options</th>
                        </tr>
                    </thead>
                    <tbody><tr></tr></tbody>
                </table>
                <div id="extra_content"></div>
            </div>
            <div id="search" class="main_class">
                <div class="grid-container">
                    <div class="grid-item">
                        <h1 class="page_header"><i>Search Your Crypto . . . .</i></h1>
                    </div>
                    <div class="grid-item">
                        <div id="loader" class="loader">
                            <div id="clock-loader"></div>
                        </div>
                    </div>
                </div>
                <hr>
                <div>
                    <form id="search_form">
                        <input type="text" placeholder="Enter Your Crypto Name" id = 'searched_value'>
                        <input id="search_submit" type="submit">
                    </form>
                </div>
                <hr>
                <table id = "search_table">
                    <thead>
                        <tr>
                            <th class="table_rank">Rank</th>
                            <th class="table_name">Name</th>
                            <th class="table_sym">Symbol</th>
                            <th class="table_pric">Price</th>
                            <th class="table_cap">Market Cap</th>
                            <th class="table_option">Options</th>
                        </tr>
                    </thead>
                    <tbody><tr></tr></tbody>
                </table>
                <div id="extra_content"></div>
            </div>
            <div id="all" class="main_class">
                <div class="grid-container">
                    <div class="grid-item">
                        <h1 class="page_header"><i>Listing All Crypto . . . .</i></h1>
                    </div>
                    <div class="grid-item">
                        <div id="loader" class="loader">
                            <div id="clock-loader"></div>
                        </div>
                    </div>
                </div>
                <hr>
                <table id = "all_table">
                    <thead>
                        <tr>
                            <th class="table_rank">Rank</th>
                            <th class="table_name">Name</th>
                            <th class="table_sym">Symbol</th>
                            <th class="table_pric">Price</th>
                            <th class="table_cap">Market Cap</th>
                            <th class="table_option">Options</th>
                        </tr>
                    </thead>
                    <tbody><tr></tr></tbody>
                </table>
                <div id="extra_content"></div>
            </div>
            <div id="calculate" class="main_class">
                <div class="grid-container">
                    <div class="grid-item">
                        <h1 class="page_header"><i>Calculate Crypto Value In Your Own Currency . . . .</i></h1>
                    </div>
                    <div class="grid-item">
                        <div id="loader" class="loader">
                            <div id="clock-loader"></div>
                        </div>
                    </div>
                </div>
                <hr>
                <div>
                    <form id="calculate_form">
                        <input list="cryp" placeholder="Crypto Name" id="crypto_form">
                        <datalist id="cryp">
                            <div id="cryp_l"></div>
                        </datalist>
                        <input list="cash" placeholder="Cash Currency Name" id="cash_form">
                        <datalist id="cash">
                            <div id="cash_l"></div>
                        </datalist>
                        <input type="submit" id="calculate_submit">    
                    </form>
                </div>
                <hr>
                <div id="calculate_result"></div>
                <div id="extra_content"></div>
            </div>  
        </div>
        <div id="popup">
            <div id="content">
              <div id="popup_header">
              </div>
              <div id="popup_body">
              </div>
              <div id="popup_foot">
              </div>
            </div>
        </div>
        <div id="footer">
            <div class="button" id="button_responsive">
                <div id="translate"></div>
                <a href="#top">Go On Top</a>
            </div>
        </div>
        <!--<div id="container">
            <div class="button" id="button_responsive">
              <div id="translate"></div>
              <a href="#">Let's Go!</a>
            </div>-->
        </div>
    </body>
</html>