{% load static %}
<!DOCTYPE html>
<html lang="eng">
    <head>
        <title>MarKVity</title>
        <script src="{% static 'crypto_api/js/script.js' %}"></script>
        <link rel="stylesheet" href="{% static 'crypto_api/style/style.css' %}">
    </head>
    <body>
        <div class="header">
            <a href="#default" class="logo">MarKVity</a>
            <div class="header-right">
                <button data-page="page1">Home</button>
                <button id="contact">Contact Us</button>
                <button id="about">About</button>
            </div>
        </div>
        <div id="page1">
            <h1>Page 1</h1>
            <button data-page="page2">Switch Page</button>
        </div>
        <div id="page2">
            <button id="trending_b">Trending</button>
            <button id="search_b">Search</button>
            <button id="all_b">All</button>
            <button id="calculate_b">Calculate</button>

            <div id="trend">
                <h1>Trending Crypto</h1>
                <table id = "trending_table"></table>
            </div>
            <div id="search">
                <h1>Search</h1>
                <form id="search_form">
                    <input type="text" placeholder="Enter Your Crypto Name" id = 'searched_value'>
                    <input id="submit" type="submit">
                </form>
                <h2>Search Result :- </h2>
                <table id = "search_table"></table>
            </div>
            <div id="all">
                <h1>All Crypto</h1>
                <table id = "all_table">
                    <tr>
                        <th>Rank</th>
                        <th>Name</th>
                        <th>Symbol</th>
                        <th>Price</th>
                        <th>Market Cap</th>
                        <th>Options</th>
                    </tr>
                </table>
            </div>
            <div id="calculate">

            </div>
        </div>
        <div id="popup">
            <div id="content">
              <div id="popup_header">
              </div>
              <div id="popup_body">
              </div>
              <div id="popup_foot">
              </div>
            </div>
          </div>
    </body>
</html>